<a href="https://colab.research.google.com/github/OBertelli/IA-Course/blob/main/Copie_de_DSA_lecture1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quick Introduction to Python

Python is quick and easy to learn the basics of.
Here is your first python program!

In [ ]:
print("Hello world!")


## Numbers

Python can be used as a calculator to evaluate mathematical expressions.

In [ ]:
# Print the output of basic mathematical operations

print(1+1)      # addition
print(2*3)      # multiplication
print((1+2)*3)  # compound operations using brackets
print(5/2)      # division
print(5//2)     # integer division
print(5%2)      # reminder (modulo)
print(2**5)     # exponentiation (power)

## Variables

In python, you can create new variables by simply assigning a value to it. No need to declare it beforehand!

In [ ]:
width = 10
length = 2

print(width)
print(length)

print("Area is", width*length)

10
2
Area is 20

## Text

Python can be used to manipulate text.

In [ ]:
message = "Hello world!"  # You can assign any text string to a variable by including it in quotes " ".

print(message)
print(message[0])   # The first character of a string is indexed by 0.
print(message[1])
print(message[2])
print(message[3])
print(message[4])
print(message[5])
print(message[6])
print(message[7])
print(message[8])
print(message[9])
print(message[10])
print(message[11])

print("\n")         # \n prints a line break.

print(message[-1])  # The last character of a string is indexed by -1.
print(message[-2])
print(message[-3])
print(message[-4])

print(message[0:3])
print(message[:3])
print(message[3:6])
print(message[3:])

print("Let us " + "concatenate " + "two strings" + ".")
print(message[:3] + message[3:])

Hello world!
H
e
l
l
o

w
o
r
l
d
!


!
d
l
r
Hel
Hel
lo
lo world!
Let us concatenate two strings.
Hello world!

In [ ]:
print(message*3)
print((message + ' ')*3)

Hello world!Hello world!Hello world!
Hello world! Hello world! Hello world!

In [ ]:
msg = 'this is a sentence'
print(msg)
print(msg[:15])
print(msg[-2])
print(msg[0:3])

this is a sentence
this is a sente
c
thi

In [ ]:
print(msg[3])

s

Here are some common error messages in python.

In [ ]:
print(message + 2)

In [ ]:
print(message + '2')

Hello world!2

In [ ]:
len(message)
another_message = 'this is a really long message'
len(another_message)

29

In [ ]:
print(message[34])

## Input

Python has a simple function to get user input.

In [ ]:
name = input('Please enter your name: ')
print('Hello ' + name + '!')

Please enter your name: Olivia
Hello Olivia!

In [ ]:
name_bis = input('How is it?')
print('Hey' + name_bis)

How is it?ok
Heyok

# Data types

Python has several in-built data "types".

In [ ]:
# String and int data types

msg = 'Hi'
num = 42

print(type(msg))
print(type(num))

<class 'str'>
<class 'int'>

In [ ]:
# Float data type (floating point number)

x = 3.14

print(type(x))

In [ ]:
# Bool data type (boolean) has only 2 possible values

a = True
b = False

print(type(a))

print(a and b)
print(a or b)
print((a or b) and a)

<class 'bool'>
False
True
True

In [ ]:
# type-casting - convert one type of variable to another

num_string = input('Please enter your favourite number: ')
print('Your favourite number is ' + num_string)
print(type(num_string))
num = int(num_string) # casting the string var into an int
new_num = num + 10
new_num_string = str(new_num)
print('Your faourite number plus 10 is ' + new_num_string)
print(new_num, num)

Please enter your favourite number: 42
Your favourite number is 42
<class 'str'>
Your faourite number plus 10 is 52
52 42

## Lists

List is a compound data type in python.

In [ ]:
groceries = ['bread', 'milk', 'eggs'] # syntax is to put objects separated by commas

print(type(groceries))
print(groceries[0]) # first item
print(groceries[-1]) # last item
print(groceries*3)

<class 'list'>
bread
eggs
['bread', 'milk', 'eggs', 'bread', 'milk', 'eggs', 'bread', 'milk', 'eggs']

In [ ]:
courses = ['python 101', 'economics', 'philosophy']
print(courses)
print((groceries + courses)*2) # NB: a list can have duplicate items

['python 101', 'economics', 'philosophy']
['bread', 'milk', 'eggs', 'python 101', 'economics', 'philosophy', 'bread', 'milk', 'eggs', 'python 101', 'economics', 'philosophy']

In [ ]:
numbers = [1, 1, 1, 1]
new_list = numbers + courses # create new list and gives a name
print(new_list)  # only temporarly in memory
print(numbers*6)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
things = ['bread', 42, False, 9.99, [1, 2, 3]]   # List can store items of various types.

print(type(things))
print(type(things[0]))
print(type(things[2]))
print(type(things[-1]))
print(type(things[2:]))

<class 'list'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'list'>

The `list` data type has several built-in "methods" in python.

In [ ]:
# methods are the operations that can be performed with lists

things = ['bread', 42, False, 9.99]

things.append('eggs')     # add a new item to the end of the list
print(things)

things.insert(2, True)    # insert a new item at a specific position (2) in the list True is the object to be inserted
print(things)

things.reverse()          # reverse the list
print(things)

['bread', 42, False, 9.99, 'eggs']
['bread', 42, True, False, 9.99, 'eggs']
['eggs', 9.99, False, True, 42, 'bread']

In [ ]:
things = ['bread', 42, False, 9.99]

things.append('eggs')
print(things)                 # list can have duplicate items
print(things.count('eggs'))   # returns the count of a specific item in the list


print("\nRemoving things:")
things.remove('eggs')     # removes the first occurence of an item in the list
print(things)

# Popping is removing and showing you the removed element
print("\nPopping things:")
popped_thing = things.pop()    # removes and returns the last item in the list
print(popped_thing)
print(things)

popped_thing2 = things.pop()
print(popped_thing2)
print(things)

things.extend([100, 'milk', 25])  # extend the list with another list, different from append
print(things)

popped_thing3 = things.pop(1)     # remove and return the item at a specific position in the list
print(popped_thing3)
print(things)

['bread', 42, False, 9.99, 'eggs']
1

Removing things:
['bread', 42, False, 9.99]

Popping things:
9.99
['bread', 42, False]
False
['bread', 42]
['bread', 42, 100, 'milk', 25]
42
['bread', 100, 'milk', 25]

In [ ]:
nums = [2, 3, 4, 3 ,2 ,1 ,2]
print(nums.count(2))
nums.remove(2)
nums.pop(0)
print(nums)

nums.pop()
print(nums)

3
[4, 3, 2, 1, 2]
[4, 3, 2, 1]

In [ ]:
# More list operations

things = ['bread', 42, False, 9.99]

print(len(things))          # find the length of a list
print('bread' in things)    # check if an item is in a list
print('coconut' in things)

print('List before deleting is', things)
del things[2]               # delete an item at a specific position in a list
print(things)
print('List after deleting is', things)

things[0] = 'head'          # change an item at a specific position in a list
print(things)

4
True
False
List before deleting is ['bread', 42, False, 9.99]
['bread', 42, 9.99]
List after deleting is ['bread', 42, 9.99]
['head', 42, 9.99]

## Tuples

Tuples are a less flexible (immutable) version of lists.

You can't append / extend / pop items of a tuple.
But you can find index of specific items in a tuple.

In [ ]:
tuple_of_things = ('bread', 42, False, 9.99, 'bread')

print(tuple_of_things)
print(type(tuple_of_things))

print(tuple_of_things.index('bread'))    # shows the 1st position of item 'Bread' in a tuple
first=tuple_of_things.index('bread')
print(tuple_of_things.index('bread', first+1)) # shows the 2nd position of item 'Bread'

('bread', 42, False, 9.99, 'bread')
<class 'tuple'>
0
4

In [ ]:
newtuple =(1, 2, 3, 2, 1)
print(newtuple.index(2))
print('Item 2 is in position', newtuple.index(2))
print('Item 1 is in position', newtuple.index(1))

1
Item 2 is in position 1
Item 1 is in position 0

In [ ]:
tuple_of_things.pop()     # tuple has no pop method!

In [ ]:
tuple_of_things.append('eggs')     # tuple has no append method!

In [ ]:
tuple_of_things = tuple_of_things + ('eggs',)
print(tuple_of_things)

## Sets

A set is an unordered collection of items, whereas a list is an ordered collection of items.

A set cannot have duplicate objects, whereas a list can.

In [ ]:
set_of_things = {'bread', 42, False, 9.99}

print(set_of_things)
print(type(set_of_things))

{False, 9.99, 'bread', 42}
<class 'set'>

In [ ]:
mylist = [1, 2, 3, 3, 2, 2, 3, 4, 5]
myset = set(mylist)     # convert a list to a set, drop the duplicates
print(myset)

{1, 2, 3, 4, 5}

In [ ]:
mylist2 = list(myset)
print(mylist2)

In [ ]:
# set cannot have duplicates

set1 = {1, 2, 3, 4}
set2 = {2, 1, 4, 3}

print(set1 == set2)

list1 = [1, 2, 3, 4]
list2 = [2, 1, 4, 3]

print(list1 == list2)

set1 = {'a', 'b', 'c', 'd'}
set2 = {'c', 'd', 'b', 'a'} # doesn't manage to sort in alphabetic order
print(set2)
print(set1 == set2)

True
False
{'c', 'b', 'd', 'a'}
True

In [ ]:
# Built-in methods for sets

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print('Union', set1.union(set2))         # returns a new set that is the union of both sets
print('Intersect', set1.intersection(set2))  # returns a new set that is the intersection of both sets
print('Set 1 wrt set2', set1.difference(set2))    # returns the set difference
print('Set 2 wrt set1', set2.difference(set1))    # returns the set difference

print(set1.issubset(set2))      # checks if the set is a subset of another


set1.add('banana')              # adds a new item to the set. The position does not matter!
print(set1)
set1.remove(1)                  # removes item 1 from the set
print(set1)
set1.remove('banana')                  # removes item 1 from the set
print(set1)

Union {1, 2, 3, 4, 5, 6}
Intersect {3, 4}
Set 1 wrt set2 {1, 2}
Set 2 wrt set1 {5, 6}
False
{1, 2, 3, 4, 'banana'}
{2, 3, 4, 'banana'}
{2, 3, 4}

## Dictionaries

A dictionary is a set of (key : value) pairs.

In [ ]:
affiliations = {'Muni': 'Dauphine', 'Alex': 'ENS', 'Raphael': 'Sorbonne', 'Olivier': 'CNRS'}
pincodes = {75: 'Paris', 92: 'Nanterre', 94: 'Creteil'}
# keys and values are separated by : but pairs of keys+values are separated by ,
# keys are strings, values can be anything, even lists
# the keys are not ordered, so the key-value in 2nd position is not identified

napoleon = \
 {'birth_year': 1769, \
  'death_year': 1821, \
  'title': 'Emperor', \
  'wives': ['Josephine', 'Marie-Louise']}

print(affiliations)
print(type(affiliations))

print(affiliations['Muni']) # it returns the value
print(pincodes[94])
print(napoleon['wives'])

aff={'Muni': ['Dauphine', pincodes[92]]}
print(aff)

{'Muni': 'Dauphine', 'Alex': 'ENS', 'Raphael': 'Sorbonne', 'Olivier': 'CNRS'}
<class 'dict'>
Dauphine
Creteil
['Josephine', 'Marie-Louise']
{'Muni': ['Dauphine', 'Nanterre']}

In [ ]:
# adding items to a dictionary

pincodes[78] = 'Versailles'
print(pincodes)

# modifying a dictionary

napoleon['title'] = 'Emperor of the French'
print(napoleon)

In [ ]:
# Built-in methods for dictionaries

print(pincodes.keys())      # returns a list of keys
print(pincodes.values())    # returns a list of values
print(pincodes.items())     # returns a list of (key, value) pairs

print('Nanterre' in pincodes.values())  # check if a value is in the dictionary
print(pincodes.get(92))     # returns the value of a specific key in the dictionary

dict_keys([75, 92, 94])
dict_values(['Paris', 'Nanterre', 'Creteil'])
dict_items([(75, 'Paris'), (92, 'Nanterre'), (94, 'Creteil')])
True
Nanterre

# Control Flow Tools

Control flow tools allow us to change or repeat the flow of an algorithm subject to some conditions.

## If... Else

In [ ]:
score_string = input('Please enter a score out of 100:')
score = int(score_string)

if score >= 90:
  print('Your grade is A.')         # NB: indentation is compulsary here!
elif (score < 90) and (score >=80): # elif = else if
  print('Your grade is B.')
elif (score < 80) and (score >=70): # but here it's a new line of code, so not necessary
  print('Your grade is C.')
elif (score < 70) and (score >=60):
  print('Your grade is D.')
else:
  print('You failed.')

Please enter a score out of 100: 7575
Your grade is C.

## While

In [ ]:
count = 0                   # create new var count = 0
while count <= 10:          # checks that count is equal or less than 10
  print('Hello world!')     # indentation is necessary
  print('the current count is', count)
  count = count + 1         # when count becomes =10 it stops

Hello world!
the current count is 0
Hello world!
the current count is 1
Hello world!
the current count is 2
Hello world!
the current count is 3
Hello world!
the current count is 4
Hello world!
the current count is 5
Hello world!
the current count is 6
Hello world!
the current count is 7
Hello world!
the current count is 8
Hello world!
the current count is 9
Hello world!
the current count is 10

In [ ]:
count = 0
while count <= 10:
  if count == 0:
    print('Hello world!')
  else:
    print('Hello again!')
  count = count + 1

Hello world!
Hello again!
Hello again!
Hello again!
Hello again!
Hello again!
Hello again!
Hello again!
Hello again!
Hello again!
Hello again!

## For

In [ ]:
# Looping through a list

print(things)

for item in things:     # Python loops over all items of the list
  print('Here is an item: ', item)

for blah in things[:3]:
  print('Here is an item: ', blah)

['head', 42, 9.99]
Here is an item:  head
Here is an item:  42
Here is an item:  9.99
Here is an item:  head
Here is an item:  42
Here is an item:  9.99

In [ ]:
# Looping through a string

name = 'Napoleon'

for blabla in name:   # Python loops over all components of the string variable name
  print(blabla)

N
a
p
o
l
e
o
n

In [ ]:
# Looping through a dictionary

print(pincodes)

for key, value in pincodes.items():
  print('The pincode of ' + value + ' is ' + str(key) + '.')
  if value == 'Nanterre':
    print('This is where I currently live.')

{75: 'Paris', 92: 'Nanterre', 94: 'Creteil', 78: 'Versailles'}
The pincode of Paris is 75.
The pincode of Nanterre is 92.
This is where I currently live.
The pincode of Creteil is 94.
The pincode of Versailles is 78.

In [ ]:
# Looping through a range - similar to above, but don't need the count function

print(list(range(10)))

for count in range(10):
  print('Hello world!')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

In [ ]:
ranking = ['Alex', 'Bob', 'Charlie', 'David']   # ranking is a list of strings

for rank in range(len(ranking)):
  print(rank+1, ranking[rank])

1 Alex
2 Bob
3 Charlie
4 David

In [ ]:
for index, item in enumerate(ranking):    # can include index and item in the same loop
  print(index+1, item)

1 Alex
2 Bob
3 Charlie
4 David

In [ ]:
# list comprehensions

nums = [x for x in range(10)]
print(nums)

squared_nums = [x*x for x in nums]
print(squared_nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
nums = []
for i in range(10):
  nums.append(i)

  print('In the loop', nums)

# not the same output due to different indentation
nums = []
for i in range(10):
  nums.append(i)

print('Out of the loop', nums)

In the loop [0]
In the loop [0, 1]
In the loop [0, 1, 2]
In the loop [0, 1, 2, 3]
In the loop [0, 1, 2, 3, 4]
In the loop [0, 1, 2, 3, 4, 5]
In the loop [0, 1, 2, 3, 4, 5, 6]
In the loop [0, 1, 2, 3, 4, 5, 6, 7]
In the loop [0, 1, 2, 3, 4, 5, 6, 7, 8]
In the loop [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Out of the loop [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Functions

A function is a block of code that can be reused. Like a mathematical function, it takes an input and returns an output.

In [ ]:
# True if it's an even nb, False if it's an odd nb
# Keyword is def: define the function, with inputs in brackets
def isiteven(n):
  if n%2 == 0:
    return True
  else:
    return False

print(isiteven(10))
print(isiteven(23))

nums = [x for x in range(20, 30)]

for n in nums:
  print(n, isiteven(n))

True
False
20 True
21 False
22 True
23 False
24 True
25 False
26 True
27 False
28 True
29 False

In [ ]:
# A function with multiple arguments

def sum2(n1, n2):
  return n1+n2

print(sum2(2, 3))
print(sum2(n1 = 2, n2 = 3))   # keyword arguments
print(sum2(10))

5
5

TypeError: sum2() missing 1 required positional argument: 'n2'

In [ ]:
# A function with keyword arguments (arguments are the function inputs)

def printname(firstname, lastname, gender):
  if gender == 'male':
    print('Hello Mr.', lastname)
  elif gender == 'female':
    print('Hello Ms.', lastname)
  # Note that this function does not explicitly return anything.

printname(lastname = 'Bonaparte', firstname = 'Napoleon', gender = 'male')
printname('Napoleon', 'Bonaparte', 'male')

print(printname('Napoleon', 'Bonaparte', 'male'))

Hello Mr. Bonaparte
Hello Mr. Bonaparte
Hello Mr. Bonaparte
None

# Classes

In python, a "class" is an abstract datatype.
An "object" can belong to one class or another.
An object belonging to a class inherits all the "methods" of that class.

In [ ]:
 # Person is the class that denotes the var - class is the command
 # self is the memory to which Person refers to
 # define the methods of Person: casualhello and formalhello
 # Person has 3 attributes (firstname, lastname, gender) - need to provide all of them
class Person:
  def __init__(self, firstname, lastname, gender):
    self.firstname = firstname
    self.lastname = lastname
    self.gender = gender

  def casualhello(self):
    print('Hello ' + self.firstname + '.')

  def formalhello(self):
    if self.gender == 'male':
      print('Hello Mr. ' + self.lastname + '.')
    elif self.gender == 'female':
      print('Hello Ms. ' + self.lastname + '.')

napoleon = Person('Napoleon', 'Bonaparte', 'male')

print(napoleon)

napoleon.casualhello()
napoleon.formalhello()

marie = Person('Marie', 'Antoinette', 'female')
marie.formalhello()

print('\nList of persons:')

persons_list = [napoleon, marie]

for p in persons_list:
  p.formalhello()

<__main__.Person object at 0x7dad20a92b30>
Hello Napoleon.
Hello Mr. Bonaparte.
Hello Ms. Antoinette.

List of persons:
Hello Mr. Bonaparte.
Hello Ms. Antoinette.

In [ ]:
# Changing object properties

print(marie.lastname)

marie.lastname = 'Curie'

marie.formalhello()

Antoinette
Hello Ms. Curie.